filebeat.prospectors:
- input_type: log
  paths:
    - /var/log/nginx/logs/*access.log*
    - /var/log/nginx/logs/*error.log*
  exclude_files: [".gz$"]

output.logstash:
  hosts: ["{{ logstash_container_name }}:5044"]
